/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_section{
    height: 800px;
  }

  .banner_section {
    width: 100%;
    height: 150px;
    float: left;
    background: #d0edf0;
  }

  .banner_taital {
    padding-left: 30px;
  }

  .banner_text {
    padding-left:30px;
  }

  .btn_main {
    display: flex;
    flex-direction: column;
  }

  .btn_main .btn-1 {
    padding-bottom: 20px;
  }

  .btn_main .btn-2 {
    padding-bottom: 20px;
  }

  .image_1 img {
    width: 500px;
    height: 750px;
  }

  .footer_section .adderss_text {
    text-align: left;
  }

  .footer_section .adderss_text_1 {
    padding-top: 20px;
    text-align: center;
  }

  .footer_section .social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social_icon li {
    padding: 10px;
  }

  /*Service Page*/
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .title_service {
    text-align: center;
  }

  .all-cards {
    padding: 5% 4%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-row-gap: 5%;
    grid-column-gap: 5%;
  }

  /* Hide default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .custom-checkbox {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 16px;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    box-shadow: 0 0 0 2px #d3d3d3;
    cursor: pointer;
    transition: 0.3s;
  }

  .card-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #1f375b;
    text-align: center;
    padding: 30px 0 0 0;
  }

  .btn_continue {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .btn_continue button {
    margin-top: 0;
    width: 300px;
  }
}

/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
  .banner_taital {
    text-align: center;
  }

  .btn_main {
    display: flex;
    flex-direction: column;
  }

  .btn_main .btn-1 {
    padding-bottom: 20px;
  }

  .btn_main .btn-2 {
    padding-bottom: 20px;
  }

  .image_1 img {
    height: 700px;
  }
}

/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
 
  .banner_section {
    width: 100%;
    height: 900px;
    float: left;
    background: #d0edf0;
  }

  .banner_taital {
    padding-left: 30px;
  }

  .banner_text {
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn_main {
    display: flex;
    flex-direction: column;
  }

  .btn_main .btn-1 {
    padding-bottom: 20px;
  }

  .btn_main .btn-2 {
    padding-bottom: 20px;
  }

  .image_1 img {
    height: 700px;
  }

  .footer_section .adderss_text {
    padding-top: 20px;
    text-align: center;
  }

  .footer_section .social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social_icon li {
    padding: 10px;
  }

  .footer_logo {
    margin-left: 70px;
  }

  /*Service Page*/

  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

  .title_service {
    text-align: center;
  }

  .all-cards {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-auto-rows: minmax(10px, 250px);
    grid-row-gap: 5%;
    grid-column-gap: 10%;
    z-index: 99;
  }

  /* Hide default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .custom-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 16px;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    box-shadow: 0 0 0 2px #d3d3d3;
    cursor: pointer;
    transition: 0.3s;
  }

  .custom-checkbox img {
    width: 128px;
    height: 128px;
  }

  .card-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #1f375b;
    text-align: center;
    padding: 10px 0 0 0;
  }

  .btn_continue {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .btn_continue button {
    width: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header_section{
    height: 850px;
  }

  .banner_section {
    height: 10px;
  }

  .banner_taital {
    text-align: center;
  }

  .banner_text {
    padding-left: 30px;
  }

  .btn_main {
    display: flex;
    flex-direction: column;
  }

  .btn_main .btn-1 {
    padding-bottom: 20px;
  }

  .btn_main .btn-2 {
    padding-bottom: 20px;
  }

  .image_1 img {
    width: 500px;
    height: 750px;
  }

  .footer_section .adderss_text {
    text-align: left;
  }

  .footer_section .adderss_text_1 {
    padding-top: 20px;
    text-align: center;
  }

  .footer_section .social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social_icon li {
    padding: 10px;
  }

  /*Service Page*/
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .title_service {
    text-align: center;
  }

  .all-cards {
    padding: 5% 4%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-row-gap: 5%;
    grid-column-gap: 5%;
  }

  /* Hide default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .custom-checkbox {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 16px;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    box-shadow: 0 0 0 2px #d3d3d3;
    cursor: pointer;
    transition: 0.3s;
  }

  .card-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #1f375b;
    text-align: center;
    padding: 30px 0 0 0;
  }

  .btn_continue {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .btn_continue button {
    width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
  }
  #main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
  }
  .header_section {
    background-size: cover;
  }
  .logo {
    width: 50%;
  }
  .costum_menu {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
    color: #272a2a;
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #15e4d0;
  }
  .nav-link {
    display: none;
  }
  .navbar {
    padding: 0.5rem 15px;
  }
  .banner_taital {
    font-size: 50px;
    padding-top: 50px;
  }
  .contact_bt {
    width: 135px;
  }
  .more_bt {
    width: 135px;
  }
  .more_bt a {
    padding: 7px 0px;
  }
  .contact_bt a {
    padding: 7px 0px;
  }
  .image_1 {
    padding-top: 30px;
  }
  .health_taital {
    font-size: 34px;
  }
  .health_text {
    font-size: 14px;
  }
  .text {
    padding: 12px 12px;
  }
  .image_main::after {
    display: none;
  }
  .main {
    margin: 40px 0px 0px 5px;
  }
  .middle {
    left: 50%;
  }
  .getquote_bt_1 {
    margin-top: 30px;
  }
  .knowledge_section {
    background-size: cover;
    padding: 90px 0px;
  }
  .left_main {
    width: 100%;
  }
  .knowledge_taital {
    font-size: 36px;
  }
  .play_icon {
    display: none;
  }
  .box_main {
    margin-bottom: 30px;
  }
  .getquote_bt a {
    margin-top: 0px;
  }
  .contact_section {
    background-size: cover;
    padding-bottom: 90px;
  }
  .contact_taital {
    font-size: 40px;
  }
  .diabetes_text {
    width: 100%;
    font-size: 20px;
  }
  .icon_7 {
    width: 30%;
  }
  .book_text {
    font-size: 24px;
  }
  .contact_box {
    margin-top: 30px;
  }
  .client_taital {
    font-size: 30px;
  }
  .client_left {
    width: 100%;
  }
  .client_right {
    width: 100%;
  }
  .distracted_text {
    font-size: 36px;
  }
  #my_slider a.carousel-control-next {
    display: none;
  }
  #my_slider a.carousel-control-prev {
    display: none;
  }
  .Useful_text {
    width: 60%;
  }
  .daily_text_1 {
    width: 100%;
  }
  .daily_text {
    width: 70%;
  }

  .footer_section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .copyright_section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}

@media (max-width: 575px) {
  #main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
  }
  #main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
  }
  .header_section {
    background-size: cover;
  }
  .logo {
    width: 50%;
  }
  .costum_menu {
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
    color: #272a2a;
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #15e4d0;
  }
  .nav-link {
    display: none;
  }
  .navbar {
    padding: 0.5rem 15px;
  }
  .banner_taital {
    font-size: 50px;
    padding-top: 10px;
  }
  .contact_bt {
    width: 135px;
  }
  .more_bt {
    width: 135px;
  }
  .more_bt a {
    padding: 7px 0px;
  }
  .contact_bt a {
    padding: 7px 0px;
  }
  .image_1 {
    padding-top: 30px;
  }
  .health_taital {
    font-size: 19px;
  }
  .health_text {
    font-size: 14px;
  }
  .text {
    padding: 12px 12px;
  }
  .image_main::after {
    display: none;
  }
  .main {
    margin: 40px 0px 0px 5px;
  }
  .middle {
    left: 50%;
  }
  .getquote_bt_1 {
    margin-top: 30px;
  }
  .knowledge_section {
    background-size: cover;
    padding: 90px 0px;
  }
  .left_main {
    width: 100%;
  }
  .knowledge_taital {
    font-size: 27px;
  }
  .play_icon {
    display: none;
  }
  .box_main {
    margin-bottom: 30px;
  }
  .getquote_bt a {
    margin-top: 0px;
  }
  .daily_text_1 {
    width: 60%;
  }
  .contact_section {
    background-size: cover;
    padding-bottom: 90px;
  }
  .contact_taital {
    font-size: 40px;
  }
  .diabetes_text {
    width: 100%;
    font-size: 20px;
  }
  .icon_7 {
    width: 30%;
  }
  .book_text {
    font-size: 24px;
  }
  .contact_box {
    margin-top: 30px;
  }
  .client_taital {
    font-size: 30px;
  }
  .client_left {
    width: 100%;
  }
  .client_right {
    width: 100%;
  }
  .distracted_text {
    font-size: 36px;
  }
  #my_slider a.carousel-control-next {
    display: none;
  }
  #my_slider a.carousel-control-prev {
    display: none;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .header_section{
    height: 850px;
  }

  .banner_section {
    height: 10px;
  }

  .banner_taital {
    text-align: center;
  }

  .banner_text{
    text-align: center;
  }
}
