/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: Poppins;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.layout_padding {
  padding-top: 30px;
  padding-bottom: 0px;
  z-index: 99;
}

.header_section {
  width: 100%;
  background: #d0edf0;
  height: 830px;
  background-size: 100%;
  padding: 10px 0px 25px 0px;
  background-repeat: no-repeat;
  z-index: 2;
}

.logo {
  width: 42%;
  float: left;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
  color: #272a2a;
  font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #15e4d0;
}

.navbar {
  padding: 0.5rem 70px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #15e4d0;
}

/* index page */

.home_section {
  width: 100%;
  float: left;
  background: #d0edf0;
}

.images_1 {
  width: 80%;
  float: right;
  padding-top: 50px;
}

.home_taital {
  width: 100%;
  float: left;
  font-size: 60px;
  color: #855fa8;
  font-weight: bold;
  line-height: 60px;
  padding-top: 120px;
}

.home_text {
  width: 100%;
  float: left;
  font-size: 16px;
  margin: 0;
  color: #252525;
}

.btn_main {
  width: 100%;
  float: left;
  margin-top: 30px;
}

.more_bt {
  width: 170px;
  float: left;
}

.more_bt a {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #f6f8f8;
  background-color: #4bc5b8;
  text-align: center;
  padding: 10px 0px;
}

.contact_bt {
  width: 170px;
  float: left;
  margin-left: 15px;
}

.contact_bt a {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #f6f8f8;
  background-color: #252525;
  text-align: center;
  padding: 10px 0px;
}

.contact_bt a:hover {
  color: #f6f8f8;
  background-color: #4bc5b8;
}

@keyframes fadeEffect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

/*Service Page*/

.service_section {
  width: 100%;
  float: left;
  background: #d0edf0;
}

.service_title {
  text-align: center;
}

.all-cards{
    padding: 4% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%,1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-row-gap: 10%;
    grid-column-gap: 5%;
        
    }

/* Hide default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 16px;
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
    box-shadow: 0 0 0 2px #d3d3d3;
    cursor: pointer;
    transition: 0.3s; 
}

.card-label{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    font-size: 18px;
    color: #1F375B;
    text-align: center;
    padding: 10px 0 0 0;    
}

.btn_continue {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn_continue a {
  width: 300px;
}

svg{overflow: visible;}
/*SVG Line class style*/
.st0{
    stroke: #5CA3D8;
    stroke-width:2px;
    fill: none;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
}

/*Hover Card animation*/
.container:hover input ~ .custom-checkbox {
        transform: scale(1.05);
        box-shadow: 0 0 0 6px #b0dae9;}

/*Click card bg color*/
.container input:checked ~ .custom-checkbox{
    background-color: #00a3d7;
}

/*Label color change*/
.container input:checked ~.custom-checkbox .card-label{
    color: White;
}

/*SVG Line checked animation*/
.container input:checked ~.custom-checkbox  .st0{
    animation: white-lines 5s; 
    animation-fill-mode: both;
}

/*SVG Line unchecked animation*/
.container input:not(:checked) ~.custom-checkbox .st0{
    animation: blue-lines 5s; 
    animation-fill-mode: both;
}

/*SVG bounce checked animation*/
.container input:checked ~.custom-checkbox svg{
    animation: bounce 0.4s; 
    animation-fill-mode: both;
}

/*SVG bounce unchecked animation*/
.container input:not(:checked) ~.custom-checkbox svg{
    animation: bounce-back 0.4s;
    animation-fill-mode: both;
    }
    
/*Drawing white lines*/
@keyframes white-lines {
    from { 
    stroke-dashoffset: 320;
    stroke: white;
    }
    to {
    stroke-dashoffset: 0;
    stroke: white;
    }
}

/*Drawing blue lines*/
@keyframes blue-lines {
    from { 
    stroke-dashoffset: 320;
    stroke: #5CA3D8;
    }
    to {
    stroke-dashoffset: 1;
    stroke: #5CA3D8;
    }
}

/*SVG bounce checked*/
@keyframes bounce {
	0% {
		transform: scale(1.1);
	}
    50% {
            transform: scale(1.3);
        }
    100% {
            transform: scale(1.1);
        }
}

/*SVG bounce un checked*/
@keyframes bounce-back {
	0% {
		transform: scale(1.1);
	}
    50% {
            transform: scale(1.3);
        }
    100% {
            transform: scale(1.1);
        }
}

@keyframes show-cards{
  0%{visibility:hidden;}
  99%{visibility:hidden;}
  100%{visibility:visible;}
}


.footer_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
  padding-bottom: 50px;
  box-shadow: 0px 24px 19px -1px #222223;
  position: relative;
}

.footer_logo {
  width: 60%;
  float: left;
  padding: 0px 0px 10px 0px;
}

.adderss_text {
  width: 100%;
  float: left;
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 30px;
}

.adderss_text_1 {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin-top: 70px;
  padding-bottom: 30px;
}

.map_icon {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #d6d6d6;
  padding-bottom: 10px;
}

.paddlin_left_0 {
  padding-left: 1rem;
}

.social_icon {
  width: 100%;
  float: left;
}

.social_icon ul {
  margin: 0px;
  padding: 0px;
}

.social_icon li {
  float: left;
  padding: 10px;
}

.copyright_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
  position: relative;
  z-index: 99;
}

.copyright_text {
  width: 100%;
  float: left;
  font-size: 16px;
  margin-left: 0px;
  color: #fff;
  text-align: center;
}

.copyright_text a {
  color: #ffffff;
}

.copyright_text a:hover {
  color: #19e9d9;
}

.margin_90 {
  margin: 90px 0px;
}

